body {
	margin: 0;
	padding: 0;
    font-size: 100%;
    color: #434343;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

/**
* BOUTONS :
* `.button`
*
*     @example
*     <a class="button" href="javascript:void(0);">Suivant</a>
*/
.button {
	display: inline-block;
	padding: 10px;
	width: 50px;
	height: 20px;
	cursor: pointer;
	background-color:  red; 
	border-radius: 4px;
	color: white;
}


/**
* LINK :
* `.link`
*
*     @example
*     <a class="link" href="javascript:void(0);">lorem ipsum</a>
*/
.link {	
	color: green;
	font-weight: 500;
	text-decoration: none;
}